#home {
    display: flex;
    padding-inline: 8vw;
    min-height: calc(100vh - 88px);
    align-items: center;
    overflow: hidden;
    position: relative;
   

    .home-left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        min-height:calc(80vh - 86px);
        .container {
            
            color: $third-color;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap:1.25rem;

            h1 {
                font-size: 3rem;

                span {
                    color:$secondary-color;
                    font-size: 3rem;
                }
            }


            h2 {
                font-size: 1.5rem;

                span {
                    color: $secondary-color;
                    font-size: 1.5rem;
                }
            }

            p {
                width: 60%;
                line-height: 2rem;
            }

            .portfolio {
                background: $secondary-color;
                padding: 1rem 1.5rem;
                border-radius: 6px;
                color: #fff;
                font-weight: 500;
                font-size: 1rem;
                cursor: pointer;
            }
        }

    }

    .home-right {
        width: 50%;
        height: calc(100vh - 86px);
        display: flex;
        justify-content: center;

    }

    .triangle {
        height: 20rem;
        width: 200rem;
        transform: rotate(-15deg);
        background: $secondary-color;
        position: absolute;
        left: -20vw;
        bottom: -10vw;

    }
}