.project {
    background-color: white;
    box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    display: grid;
    img {
        width: 100%;
       
    }

    
    h1 {
        color: $primary-color;
        font-weight: 700;
        text-align: center;
    }
    
    p {
        font-weight: 300;
        line-height: 2rem;
        text-align: center;
    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .icon {
            color: $secondary-color;
            height: 2.5rem;
            width: 2.5rem;
        }
    }
    .technologies{
        display: flex;
        justify-content: center;
        gap: 1rem;
        .icon{
         
            height: 2rem;
            width: 2rem;
        }

    }
}