@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$primary-color: #f4f4f4;
$secondary-color :#ff9901;
$third-color:#666;
$fourth-color: #ffffff;

html{
    scroll-behavior: smooth;
    scroll-padding-top:100px;
}

body {
    height: 100%;
    width: 100%;
    background: $primary-color ;
}
* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    user-select: none;
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

@import "./skills";
@import "./home";
@import "./nav";
@import "./contact";
@import "./footer";
@import "./projects";
@import"./project";