@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$primary-color: #151515;
$secondary-color :#ff9901;

body {
    height: 100%;
    width: 100%;
    background: $primary-color ;
}

* {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    user-select: none;
}



@import "./home";
@import "./nav";